:root {
    --danger: #c4183c;
    --pink: #ff4169;
    --orange: #fb7906;
    --warning: #ffb400;
    --teal: #1adba2;
    --success: #17c671;
    --info: #00b8d8;
    --primary: #007bff;
    --indigo: #674eec;
    --purple: #8445f7;
    --white: #fff;
    --light: #FBFBFB;
    --light-gray: #f0f0f0;
    --divider: #dbdbdb;
    --gray: #868e96;
    --secondary: #5A6169;
    --gray-dark: #343a40;
    --dark: #212529;
}
